<h2>talks#edit</h2>
<%= form_for @talk  do |f| %>
  <div class="form-field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="row">
    <div class="form-field col sm4" id="when">
      <%= f.label :date %>
      <%= f.date_field :date%>
    </div>
    <div class="form-field col sm4" id="when">
      <%= f.label "Start" %>
      <%= f.time_field :start_time %>
    </div>
    <div class="form-field col sm4" id="when">
      <%= f.label "End" %>
      <%= f.time_field :end_time %>
    </div>
  </div>
  <div class="form-field">
    <%= f.label "Address" %>
    <%= f.text_field :location %>
  </div>
  <div class="form-field">
    <%= f.label 'Available Spots' %>
    <%= f.number_field :spots, min: 1, max: 25 %>
  </div>
  <div class="form-field">
    <%= f.label :description %>
    <%= f.text_area :description, class:"materialize-textarea" %>
  </div>
  <div class="form-field">
    <%= f.submit "Update", class:"btn waves-effect waves-light"%>
  </div>
<% end %>
