<h2> Talks#Index </h2>
<% if current_user %>
  <%= link_to "Host a Talk", new_talk_path, class:"btn waves-effect light-blue darken-1" %>
<% end %>
<% @talks.each do |t| %>
  <div class="row">
    <div class="col s12">
      <div class="card purple darken-3 hoverable">
        <div class="card-content white-text">
          <div class="col l4">
            <% if t.host.id != current_user.id %>
              <% if current_user.attending?(t) %>
                <%= form_for(current_user.invites.find_by(attended_talk_id: t.id), method: :delete ) do |f| %>
                  <%= f.submit "Joined", class: "btn waves-effect blue-grey lighten-1" %>
                <% end %>
              <% else %>
                <%= form_for(current_user.invites.build(attended_talk_id: t.id)) do |f| %>
                  <div><%= f.hidden_field :attended_talk_id %></div>
                  <%= f.submit "+Join", class: "btn waves-effect waves-light" %>
                <% end %>
              <% end %>
            <% end %>
            <ul>
              <li> Date: <strong><%= t.date.strftime("%b %d, %Y") %></strong>
              <li> Time: <%= t.start_time.strftime('%I:%M %p') %> - <%= t.end_time.strftime('%I:%M %p') %> </li>
              <li> Address: <%= t.location %> </li>
              <li> Available Spots: <%= t.spots - t.attendees.size %>/<%= t.spots %>  </li>
            </ul>
          </div>
          <div class="col l8">
            <span class="card-title"> <%= link_to t.title, talk_path(t.id) %> </span> <br>
            hosted by:
            <div class="chip">
              <%= image_tag t.host.picture %>
              <%= link_to t.host.username, user_path(t.host.id)  %>
            </div>
            <br>
            <br>
            <div class="truncate">
              Description: <%= t.description %>
            </div>
          </div>
          <% if t.all_tags.size > 0 %>
          <hr>
          <div class="tag-list">
            Tags: <%= raw tag_links(t.all_tags) %>
          </div>
          <% end %>
          <div class="right">
            <small><%= time_ago_in_words(t.created_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
