<h2>Users#show</h2>

<h3> <strong> <%= @user.username %> </strong> </h3>

<% if @upcoming_hosted.any? || @upcoming_attended.any? %>
  <h4>Upcoming:</h4>
  <%= render 'hosted_talks', object: @upcoming_hosted %>
  <%= render 'attended_talks', object: @upcoming_attended %>
<% end %>

<% if @previous_hosted.any? || @previous_attended.any? %>
  <h4>History:</h4>
  <%= render 'hosted_talks', object: @previous_hosted %>
  <%= render 'attended_talks', object: @previous_attended %>
<% end %>
